<div class="container">
  <h1>
    {{title}}
  </h1>
  <h1>Excercise 1 - binding div background color using property binding</h1>
  <div style="height: 100px; width: 800px;" [style.background]="blackDiv"></div>

  <h1>Excercise 2</h1>
  <ol>
    <li>Similar exaple as above</li>
    <li>change color at the press of a button</li>
  </ol>
  <div style="height: 100px; width: 800px;" [style.background]="yellowDiv"></div>
  <button class="btn" (click)="yellowDiv = 'red'" >Change color!</button>

  <h1>Excercise 3 - disappearing caption on focus</h1>
  <input [value]="text" (focusin)="text = ''" />

  <h1>Excercise 4 - using string saved in property as html code</h1>
  <!-- <textarea disabled rows="4"> -->
  <!-- <h2>Angular is great</h2><blockquote>But you have to learn a lot</blockquote> -->
  <!-- <h3>Example</h3> -->
  <div [innerHTML]="htmlText"></div>
  <!-- </textarea> -->

</div>  